/*********** global styles ***********/

body {
    font-family: "fira sans";
    background: #F0ECEE;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/********** Class Styles ***********/

.main-nav {
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-around;
    align-content: flex-end;
}

.navbar a:hover {
    color: #FF4850;
}

.main-nav a {
    color: #88898B;
}

.logo {
    font-weight: 600;
    color: black;
    font-size: 1.3rem;
}

.adopt {
    color: #FF4850;
}

.button {
    border: #FF4850 1px solid;
    color: white;
    background: #FF4850;
    padding: 10px;
    border-radius: 15px;
    width: auto;
    display: block;
    text-align: center;
    align-items: center;
}

.button:hover {
    background: #CCC
}

.container .button {
    color: white;
}

.navbar .main-nav li:last-child a:hover {
    background: #CCC;
    color: #FF4850;
}

.heading {
    font-weight: 600;
    width: auto;
}

.container {
    margin: auto;
}

.container a:hover {
    color: #FF4850;
}

.container p {
    margin-bottom: 50px;
    color: #88898B;
}

.content {
    font-weight: 400;
}

.container li {
    justify-content: space-between;
}

.container .main-nav ul {
    width: 100%;
}

/*********** Media Queries ***********/

@media (min-width: 768px) {
    body {
        background: url('img/bulldog.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 15px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 20px;
    }

    .content {
        margin-top: 150px;
        width: 35%;
        margin-left: 3%;
    }

    .button {
        width: auto;
        max-width: 200px;
    }
}